select{
			color: white;
		}
		option{
			color: #2bc0ed;
		}
		.search{
			background: transparent;
			border: none;
		}
		select.search:focus{
			border: none;
		}
		.foo {
			//position: relative;
			//right: 0;
			//bottom: 0;
			//left: 0;
			padding: 0;
			margin-top: 50px;
			//overflow: initial;
		}
		.menu-icon{
			//background-color: red;
			display: none;
		}
		.navbottom,.navbottom2,.footer{
			background: linear-gradient(to right,#2bc0ed,#7dd2ee,#2bc0ed);

		}
		.contactdetails{
			margin-top: 30px;
		}
		.footernavlinks{
			margin-top: 100px;
		}
		.messageform{
			margin-top: 80px;
		}
		.inputfield:focus ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			color:#00838F;
			opacity: 0.4;
		}
		.foo a{
			color: white;
		}
		.foo a:hover{
			text-decoration: none;
			color: #0277BD;
			-webkit-transition:0.3s;
			-moz-transition:0.3s;
		}
		.submitbutton{
			margin-top: 10px;
			text-align: center;
			text-decoration: none;
			background-color: white;
			border-radius: 3px;
			padding: 7px;
			color:#2bc0ed !important;
		}
		.submitbutton:hover{
			text-decoration: none;
			color:#00838F !important;
			box-shadow: 1px;
			-webkit-transition: 0.3s;
			-moz-transition: 0.3;
		}
		.glyphicon{
			color: white;
		}
		
		
.navi{
		background: linear-gradient(to right,#2bc0ed,#7dd2ee,#2bc0ed);
		height:60px;
		margin-top:0px;
		padding:17px;
	}
	.footer{
		background: linear-gradient(to right,#2bc0ed,#7dd2ee,#2bc0ed);
		
		margin-bottom:0px;
		
	}
	.footer-small{
		color: white;
		font-weight: lighter;
		font-size:10px;
		letter-spacing: 1.2px;
		//font-family: PN;
	}
	.text{
		color:white;
	}
	input.inputfield,textarea{
		background: transparent;
    	border: none;
    	border-bottom: 2px solid white;
	}
	textarea:hover,input.inputfield:hover{
		border-bottom: 2px solid #53a9b7;
		-webkit-transition: all 0.3s ease-in-out;
		 transition: all 0.3s ease-in-out;
	}
	input.inputfield:active{
		border-bottom: 2px solid #53a9b7;
		-webkit-transition: all 0.3s ease-in-out;
		 transition: all 0.3s ease-in-out;
	}
	input.inputbutton:focus{
		border-bottom: 2px solid #53a9b7;
		-webkit-transition: all 0.3s ease-in-out;
		 transition: all 0.3s ease-in-out;
	}
	textarea:focus, input:focus{
    outline: none;
}
	::-webkit-input-placeholder {
   color: white;
   font-size: 12px;
   line-height: 60px;
}
	::-webkit-input-placeholder:hover {
   color: #53a9b7;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
::-webkit-input-placeholder:focus {
   color: #53a9b7;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
::-webkit-input-placeholder:active {
   color: #53a9b7;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}



:-moz-placeholder { /* Firefox 18- */
   color: white;
   font-size: 12px;
   line-height: 60px;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   font-size: 12px;
   line-height: 60px;
}

:-ms-input-placeholder {  
   color: white;
   font-size: 12px;
   line-height: 60px;
}
.submitbutton{
	background-color: white;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
	color: #2bc0ed;
	padding:5px;
}
.submitbutton:hover{
	text-decoration: none;
	color: #1895b2;
}
.social-media{
	display: inline;
	height: 25px;
	width: 25px;
	margin-left: 32px;
}
	@font-face {
    	font-family: PN;
    	src: url(ProximaNova-Regular.otf);
	}
	.navi-text{
		font-size: 11px;
		padding-right: 0px;
		color: white;
		padding: 5px;
		text-align: center;
	}
	.button{
		background-color: #add137;
		border-radius: 3px;
	}
	a.footer-small:hover{
		text-decoration: none;
		color: white;
	}
	/*container classes*/
	.amantext{
		font-size: 13.5;
		font-family: PN;
	    color: #A7A9AC;

	}
	.textheading{
		font-size: 19.5px;
		font-family: PN;
		color: #A7A9AC;
	}
	.w3-panel{ background-color:#FFFFFF;padding:0.01em 16px;margin-top:16px!important;margin-bottom:16px!important}
	.w3-card-2{box-shadow:0 1px 2px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}

	.sel{
		position: relative;
		top:-28px;

	}

	/*container classes finish */


	/*video-container*/
	.video-container { position: relative; /* keeps the aspect ratio */ padding-bottom: 56.25%; /* fine tunes the video positioning */ overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}
select{
			color: white;
		}
		option{
			color: #2bc0ed;
		}
		.search{
			background: transparent;
			border: none;
		}
		select.search:focus{
			border: none;
		}
		.inputfield{
			border: none;
			background: transparent;
			border-bottom: 1px solid white; 
		}
		.inputfield:focus{
			background: transparent;
			border-bottom: 1px solid #00838F;
			color: white; 
		}
		.inputfield:hover{
			border-bottom: 1px solid #00838F;
			-webkit-transition:0.3s;
		}
		select:focus, textarea:focus, input:focus{
			outline: none;
		}
		.inputfield:focus ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			color:#00838F;
			opacity: 0.4;
		}
/*video-container finish*/